<aside id="aside" class="app-aside hidden-xs bg-blue">
    <div class="aside-wrap" id="sidebar">
        <div class="navi-wrap">
            <!-- nav -->
            <nav ui-nav class="navi clearfix" id="leftmenuinnerinner">
                <ul class="nav">
                    <li class="hidden-folded padder m-t m-b-sm text-10">
                        <span>NAVIGATIONS</span>
                    </li>
                    <li>
                        <a href="/dashboard" class="active">
                            <i class="glyphicon glyphicon-th-large"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="line dk"></li>
                    <li class="hidden-folded padder m-t m-b-sm text-10">
                        <span>CASE MANAGEMENT</span>
                    </li>
                    <li>
                        <a href="/case-list">
                            <i class="fa fa-calculator"></i>
                            <span>Case</span>
                        </a>
                    </li>
                    <li>
                        <a href="/case-details">
                            <i class="fa fa-id-badge"></i>
                            <span>Case Details(Timeline)</span>
                        </a>
                    </li>
                    <li>
                        <a href="dashboard">
                            <i class="fa fa-id-badge"></i>
                            <span>Case Calendar (Hearing)</span>
                        </a>
                    </li>
                  

                    <li>
                        <a href="/case-task-list">
                            <i class="fa fa-id-badge"></i>
                            <span>Case Tasks</span>
                        </a>
                    </li>
                    <li>
                        <a href="/case-document-list">
                            <i class="fa fa-id-badge"></i>
                            <span>Case Documents</span>
                        </a>
                    </li>

                    

                    <li class="line dk"></li>
                    <li class="hidden-folded padder m-t m-b-sm text-10">
                        <span>ARTIFICIAL INTELLIGENCE</span>
                    </li>
                    <li>
                        <a href="/dashboard">
                            <i class="fa fa-plus-square"></i>
                            <span>Translation of Judgements</span>
                        </a>
                    </li>
                    <li>
                        <a href="/dashboard">
                            <i class="fa fa-users"></i>
                            <span>Case Hearing Dates</span>
                        </a>
                    </li>
                    
                    <li class="line dk"></li>
                    <li class="hidden-folded padder m-t m-b-sm text-10">
                        <span>RESOURCES</span>
                    </li>
                    <li>
                        <a href="dashboard">
                            <i class="fa fa-calculator"></i>
                            <span id="side_users">Case Resources</span>
                        </a>
                    </li>
                    <li>
                        <a href="dashboard">
                            <i class="fa fa-id-badge"></i>
                            <span>Government Orders</span>
                        </a>
                    </li>
                    <li class="line dk"></li>
                    <li class="hidden-folded padder m-t m-b-sm text-10">
                        <span>REPORTS</span>
                    </li>

                    <li>
                        <a href="/department-wise-report">
                            <i class="fa fa-id-badge"></i>
                            <span>Department-wise</span>
                        </a>
                    </li>

                    <li>
                        <a href="/district-wise-report">
                            <i class="fa fa-calculator"></i>
                            <span>District-wise</span>
                        </a>
                    </li>

                    <li>
                        <a href="/year-wise-report">
                            <i class="fa fa-calculator"></i>
                            <span>Year-wise</span>
                        </a>
                    </li>
                    <li>
                        <a href="/court-wise-report">
                            <i class="fa fa-id-badge"></i>
                            <span>Court-wise</span>
                        </a>
                    </li>
                    <!-- <li>
                        <a href="/dashboard">
                            <i class="fa fa-calculator"></i>
                            <span>Case Type-wise</span>
                        </a>
                    </li> -->
                   
                    <li>
                        <a href="/govt-section-wise-report">
                            <i class="fa fa-calculator"></i>
                            <span>Section-wise</span>
                        </a>
                    </li>
                  
                    <!-- <li>
                        <a href="dashboard">
                            <i class="fa fa-calculator"></i>
                            <span>CA wise</span>
                        </a>
                    </li> -->
                    <!-- <li>
                        <a href="dashboard">
                            <i class="fa fa-calculator"></i>
                            <span>Daily Case Report</span>
                        </a>
                    </li> -->
                    <!-- <li>
                        <a href="dashboard">
                            <i class="fa fa-calculator"></i>
                            <span>Status-wise</span>
                        </a>
                    </li> -->
                    <li class="line dk"></li>
                    <li class="hidden-folded padder m-t m-b-sm text-10">
                        <span>CONTEMP CASE REPORT</span>
                    </li>
                    <li>
                        <a href="dashboard">
                            <i class="fa fa-power-off"></i>
                            <span>Year-wise Contempt </span>
                        </a>
                    </li>
                    <li>
                        <a href="dashboard">
                            <i class="fa fa-power-off"></i>
                            <span>Department-wise Contempt </span>
                        </a>
                    </li>
                    <li>
                        <a href="dashboard">
                            <i class="fa fa-power-off"></i>
                            <span>Court-wise Contempt </span>
                        </a>
                    </li>
                    <li class="line dk"></li>
                    <li class="hidden-folded padder m-t m-b-sm text-10">
                        <span>CASE HEARING</span>
                    </li>
                    <li>
                        <a href="dashboard">
                            <i class="fa fa-power-off"></i>
                            <span>Next Hearing Date </span>
                        </a>
                    </li>
                    <li class="line dk"></li>
                    <li class="hidden-folded padder m-t m-b-sm text-10">
                        <span>CASE COMPLIANCE</span>
                    </li>
                    <li>
                        <a href="dashboard">
                            <i class="fa fa-power-off"></i>
                            <span>Year-wise Compliance</span>
                        </a>
                    </li>
                    <li class="line dk"></li>
                    <li class="hidden-folded padder m-t m-b-sm text-10">
                        <span>PEOPLE</span>
                    </li>
                    <li>
                        <a href="/list-user">
                            <i class="fa fa-power-off"></i>
                            <span>Users </span>
                        </a>
                    </li>
                    <li>
                        <a href="/petitioner-list">
                            <i class="fa fa-power-off"></i>
                            <span>Petitioners </span>
                        </a>
                    </li>
                    <li>
                        <a href="/counsel-list">
                            <i class="fa fa-power-off"></i>
                            <span>Councels </span>
                        </a>
                    </li>
                    <li>
                        <a href="/respondent-list">
                            <i class="fa fa-power-off"></i>
                            <span>Respondent</span>
                        </a>
                    </li>
                    <!-- <li>
                        <a href="/representing-officer-list">
                            <i class="fa fa-id-badge"></i>
                            <span>Representing Officer </span>
                        </a>
                    </li> -->
                    <!-- <li>
                        <a href="/contempt-list">
                            <i class="fa fa-id-badge"></i>
                            <span>Contempt Case</span>
                        </a>
                    </li> -->
                    <li>
                        <a href="dashboard">
                            <i class="fa fa-power-off"></i>
                            <span>Hon. Judges </span>
                        </a>
                    </li>
                    <li>
                        <a href="dashboard">
                            <i class="fa fa-power-off"></i>
                            <span>Department Users </span>
                        </a>
                    </li>
                    <li>
                        <a href="dashboard">
                            <i class="fa fa-power-off"></i>
                            <span>User Role Management </span>
                        </a>
                    </li>
                    <li class="line dk"></li>
                    <li class="hidden-folded padder m-t m-b-sm text-10">
                        <span>MASTER CONFIGURATION</span>
                    </li>
                    <li>
                        <a href="/task-type-list">
                            <i class="fa fa-power-off"></i>
                            <span>Task Type</span>
                        </a>
                    </li>

                    <li>
                        <a href="/expected-action-list">
                            <i class="fa fa-power-off"></i>
                            <span>Expected Action Type</span>
                        </a>
                    </li>

                    <li>
                        <a href="/ho-section-list">
                            <i class="fa fa-power-off"></i>
                            <span>Head Office </span>
                        </a>
                    </li>
                 
                    <li>
                        <a href="/govt-section-list">
                            <i class="fa fa-power-off"></i>
                            <span>Section </span>
                        </a>
                    </li>
                    <!-- <li>
                        <a href="/unit-list">
                            <i class="fa fa-power-off"></i>
                            <span>Unit </span>
                        </a>
                    </li> -->
                    <li>
                        <a href="/court-list">
                            <i class="fa fa-power-off"></i>
                            <span>Courts </span>
                        </a>
                    </li>
                    <li>
                        <a href="/orgnaisation-list">
                            <i class="fa fa-power-off"></i>
                            <span>Departments </span>
                        </a>
                    </li>
                    <li>
                        <a href="/sub-org-list">
                            <i class="fa fa-power-off"></i>
                            <span>Organization/CE </span>
                        </a>
                    </li>
                    <!-- <li>
                        <a href="/department-list">
                            <i class="fa fa-power-off"></i>
                            <span>Departments </span>
                        </a>
                    </li> -->
                    <!-- <li>
                        <a href="/ce-list">
                            <i class="fa fa-power-off"></i>
                            <span>CE </span>
                        </a>
                    </li> -->
                    <li>
                        <a href="/se-list">
                            <i class="fa fa-power-off"></i>
                            <span>SE </span>
                        </a>
                    </li>
                    <li>
                        <a href="/ee-list">
                            <i class="fa fa-power-off"></i>
                            <span>EE </span>
                        </a>
                    </li>
                    <li>
                        <a href="/case-type-list">
                            <i class="fa fa-power-off"></i>
                            <span>Case Type </span>
                        </a>
                    </li>
                    <li>
                        <a href="/case-status-list">
                            <i class="fa fa-power-off"></i>
                            <span>Case Status </span>
                        </a>
                    </li>
                    <li>
                        <a href="/case-subject-list">
                            <i class="fa fa-power-off"></i>
                            <span>Case Subject </span>
                        </a>
                    </li>
                    <li>
                        <a href="/case-classification-list">
                            <i class="fa fa-power-off"></i>
                            <span>Case Classification </span>
                        </a>
                    </li>
                    <li class="line dk"></li>
                    <li class="hidden-folded padder m-t m-b-sm text-10">
                        <span>Department</span>
                    </li>
                    <li>
                        <a (click)="logout()">
                            <i class="fa fa-power-off"></i>
                            <span>Logout </span>
                        </a>
                    </li>
                    <li class="line dk"></li>
                    
                </ul>
            </nav>
            <!-- nav -->
            <!-- aside footer -->
            <div class="aside-footer wrapper-sm poppins">
                <div class="text-center-folded text-center">

                    <p class="hidden-folded text-xs m-b-xs">Need help ? <a href="https://www.troology.com/"
                            target="_blank" class="font-weight-600">Contact us</a></p>
                    <p class="hidden-folded text-xs m-b-lg"><a href="https://www.troology.com/" target="_blank"><i
                                class="fa fa-bug"></i> Report a bug?</a></p>
                    <img src="./assets/img/icici.png" class="center-block img-responsive m-b-xs"
                      width="75px">
                    <p class="hidden-folded text-10">Version 1.1</p>
                    <hr style="margin: 10px 0;">
                    <p class="hidden-folded text-10 font-weight-600 text-uppercase m-b-xs"><a href="" style="">Support
                            Manual</a></p>
                    <p class="hidden-folded text-10 font-weight-600 text-uppercase m-b-xs"><a href="">Copyright
                            Information</a></p>
                </div>
            </div>
            <!-- / aside footer -->
        </div>
    </div>
</aside>